*.w linguist-language=CWeb
file.w linguist-language=C++
main.w linguist-language=C++
ast*.w linguist-language=C++
boilerplate.w linguist-language=C++
parser_glue_code.w linguist-language=C++
cmake.w linguist-language=CMake
parser.w linguist-language=Bison
parser_lexical_analysis.w linguist-language=Lex
parser_tokens.w linguist-language=Lex
reference*.w linguist-language=Bison
unittests.w linguist-language=Python
